# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# Project specific
download_progress.json
logo_scraper.log
temp/
logos/

# OS specific
.DS_Store
Thumbs.db
/logos/Thumbs.db
